@{
    ViewBag.Title = "SNL Maps";
}

<div class="row-fluid">
    <div class="col-lg-12">
        <h1>Maps</h1>
        <div class="col-lg-9 panel panel-body">
            <div style="height:500px" id="map"></div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-envelope"></i> Recent Messages</h3>
                </div>
                <div class="panel-body">
                    <div id="messages" class="table-responsive">
                        <table class="table table-bordered table-hover table-striped tablesorter">
                            <thead>
                                <tr>
                                    <th>Topic Received<i class="fa fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="text-right">
                        <a href="#">More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Search: <input /> <a href="#" id="searchData" class="fa fa-search"></a></div>
            </div>
            <div class="panel-body">
                <div id="messages" class="table-responsive">
                    <table class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th>KeyBranch<i class="fa fa-sort"></i></th>
                                <th>Description<i class="fa fa-sort"></i></th>
                                <th>Street<i class="fa fa-sort"></i></th>
                                <th>Latitude<i class="fa fa-sort"></i></th>
                                <th>Longitude<i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a href="#">More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    
</div><!-- /.row -->
