<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrimaryQueueClientType" value="Sixeyed.Top10.Azure.QueueClient,Sixeyed.Top10.Azure" />
    <add key="SecondaryQueueClientType" value="Sixeyed.Top10.Aws.QueueClient,Sixeyed.Top10.Aws" />
    <add key="PrimaryTopicClientType" value="Sixeyed.Top10.Azure.TopicClient,Sixeyed.Top10.Azure" />
    <add key="SecondaryTopicClientType" value="Sixeyed.Top10.Aws.TopicClient,Sixeyed.Top10.Aws" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>