<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrimaryQueueClientType" value="Aetos.Messaging.Azure.QueueClient,Aetos.Messaging.Azure" />
    <add key="SecondaryQueueClientType" value="Aetos.Messaging.Aws.QueueClient,Aetos.Messaging.Azure" />
    <add key="PrimaryTopicClientType" value="Aetos.Messaging.Azure.TopicClient,Aetos.Messaging.Azure" />
    <add key="SecondaryTopicClientType" value="Aetos.Messaging.Azure.TopicClient,Aetos.Messaging.Azure" />

    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://aetosmessaging.servicebus.windows.net/;
         SharedAccessKeyName=Subscriber;SharedAccessKey=3HRx8alokLdxE4ZcDYWfSND8tWG3bMEd+FryiIf93EY=" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>